In [1]:
#6.5.3 create heatmaps for weather parameters

# Import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# store csv data into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind
0,0,Rikitea,PF,2022-10-12 20:1911,-23.1203,-134.9692,67.93,64,0,17.52
1,1,Mataura,NZ,2022-10-12 20:1912,-46.1927,168.8643,44.96,69,98,0.85
2,2,Albany,US,2022-10-12 20:1535,42.6001,-73.9662,68.88,48,100,3.00
3,3,Kyaikkami,MM,2022-10-12 20:1715,16.0800,97.5675,79.18,77,6,3.31
4,4,Punta Arenas,CL,2022-10-12 20:1703,-53.1500,-70.9167,41.02,70,40,29.93
5,5,Ushuaia,AR,2022-10-12 20:1914,-54.8000,-68.3000,37.06,87,100,27.63
6,6,Santa Maria,BR,2022-10-12 20:1823,-29.6842,-53.8069,70.90,56,1,5.73
7,7,Minusinsk,RU,2022-10-12 20:1915,53.7103,91.6875,41.99,84,100,9.98
8,8,Vostok,RU,2022-10-12 20:1916,46.4856,135.8833,31.82,78,32,4.56
9,9,Kamaishi,JP,2022-10-12 20:1916,39.2667,141.8833,58.68,73,100,5.53

In [3]:
city_data_df.dtypes

City_ID       int64
City         object
Country      object
Date         object
Lat         float64
Lng         float64
Max Temp    float64
Humidity      int64
Clouds        int64
Wind        float64
dtype: object

In [4]:
# Configure gmaps to use my Google API key
gmaps.configure(api_key = g_key)

In [5]:
# # 1. Assign the locations to an array of lat/long pairs
# locations = city_data_df[["Lat", "Lng"]]

# # 2. Assign the weights variable to some values
# max_temp = city_data_df["Max Temp"]

# # 3. Assign the figure variable to the gmaps.figure() attribute
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
# heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)

# # 5. Add the heatmap layer
# fig.add_layer(heat_layer)

# # 6. Call the figure to plot the data
# fig
# Argh - the above code ran into a negative value for the Max Temp!

min_num = city_data_df["Max Temp"].min()
min_num

-3.46

In [6]:
len(city_data_df)

534

In [7]:
# find row with negative max temp
bad_row = city_data_df.loc[city_data_df['Max Temp'] <= 0]
bad_row


# Module has another way to deal with this.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))

# Then use "temps" instead of "max_temp" in weights = max_temp line  of heat_layer variable

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind
503,503,Deputatskiy,RU,2022-10-12 20:3514,69.3,139.9,-3.46,87,3,5.06

In [8]:
# drop row with negative max temp and check length of DF
updated_df = city_data_df.drop(503)
print(len(updated_df))
# Check for new lowest Max Temp
print(updated_df["Max Temp"].min())

533
2.25

In [9]:
# Retry with new DF

# 1. Assign the locations to an array of lat/long pairs
locations = updated_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values
max_temp = updated_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)

# 5. Add the heatmap layer
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Adjust heatmap zoom, intensity, and point radius
locations = updated_df[["Lat", "Lng"]]

max_temp = updated_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.2)

heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create a percent humidity heatmap
locations = updated_df[["Lat", "Lng"]]
humidity = updated_df["Humidity"]
humid_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(humid_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create a wind speed heatmap
locations = updated_df[["Lat", "Lng"]]
wind = updated_df["Wind"]
wind_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(wind_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create a cloudiness heatmap
locations = updated_df[["Lat", "Lng"]]
clouds = updated_df["Clouds"]
cloud_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(cloud_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 6.5.3 Get vacation criteria
# Ask the customer to specify min/max temp values
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [32]:
# filter max temperature column using loc[] with conditional filter in brackers
preferred_cities_df = updated_df.loc[(updated_df["Max Temp"] <= max_temp) & (updated_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind
0,0,Rikitea,PF,2022-10-12 20:1911,-23.1203,-134.9692,67.93,64,0,17.52
2,2,Albany,US,2022-10-12 20:1535,42.6001,-73.9662,68.88,48,100,3.00
3,3,Kyaikkami,MM,2022-10-12 20:1715,16.0800,97.5675,79.18,77,6,3.31
6,6,Santa Maria,BR,2022-10-12 20:1823,-29.6842,-53.8069,70.90,56,1,5.73
14,14,Guerrero Negro,MX,2022-10-12 20:1919,27.9769,-114.0611,74.44,66,38,14.29
15,15,Lagoa,PT,2022-10-12 20:1920,39.0500,-27.9833,70.66,82,6,10.25
16,16,Carlagan,PH,2022-10-12 20:1921,14.9750,122.0456,80.37,81,99,8.01
17,17,Carutapera,BR,2022-10-12 20:1921,-1.1950,-46.0200,82.33,69,100,10.02
20,20,Guerrero,MX,2022-10-12 20:1923,17.6667,-100.0000,76.66,79,90,1.59
22,22,Kapaa,US,2022-10-12 20:1924,22.0752,-159.3190,84.18,82,0,5.75

In [33]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 533
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City_ID   267 non-null    int64
 1   City      267 non-null    object
 2   Country   264 non-null    object
 3   Date      267 non-null    object
 4   Lat       267 non-null    float64
 5   Lng       267 non-null    float64
 6   Max Temp  267 non-null    float64
 7   Humidity  267 non-null    int64
 8   Clouds    267 non-null    int64
 9   Wind      267 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 22.9+ KB

In [34]:
preferred_cities_df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 0 to 533
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City_ID   264 non-null    int64
 1   City      264 non-null    object
 2   Country   264 non-null    object
 3   Date      264 non-null    object
 4   Lat       264 non-null    float64
 5   Lng       264 non-null    float64
 6   Max Temp  264 non-null    float64
 7   Humidity  264 non-null    int64
 8   Clouds    264 non-null    int64
 9   Wind      264 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 22.7+ KB

In [36]:
#6.5.4 Map Vacation Criteria
# create new DF to hold hotel info for preferred cities
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     67.93 -23.1203 -134.9692
2           Albany      US     68.88  42.6001  -73.9662
3        Kyaikkami      MM     79.18  16.0800   97.5675
6      Santa Maria      BR     70.90 -29.6842  -53.8069
14  Guerrero Negro      MX     74.44  27.9769 -114.0611
15           Lagoa      PT     70.66  39.0500  -27.9833
16        Carlagan      PH     80.37  14.9750  122.0456
17      Carutapera      BR     82.33  -1.1950  -46.0200
20        Guerrero      MX     76.66  17.6667 -100.0000
22           Kapaa      US     84.18  22.0752 -159.3190

In [37]:
# Set params to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through hotel_df DF
for index, row in hotel_df.iterrows():
    # Get the lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term (lodging) and our lat/long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make a request and get JSON data from it
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [40]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,67.93,-23.1203,-134.9692,People ThankYou
2,Albany,US,68.88,42.6001,-73.9662,
3,Kyaikkami,MM,79.18,16.0800,97.5675,St. joseph catholic church
6,Santa Maria,BR,70.90,-29.6842,-53.8069,Hotel Morotin
14,Guerrero Negro,MX,74.44,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"

In [41]:
len(hotel_df)

267

In [42]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 533
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        267 non-null    object
 1   Country     264 non-null    object
 2   Max Temp    267 non-null    float64
 3   Lat         267 non-null    float64
 4   Lng         267 non-null    float64
 5   Hotel Name  267 non-null    object
dtypes: float64(3), object(3)
memory usage: 22.7+ KB

In [43]:
hotel_df = hotel_df.dropna()

In [44]:
len(hotel_df)

264

In [45]:
# Add a heatmap of temp for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Add pop-up marks for each city with hotel info etc.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the DF row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# now with popup markers
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center =(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))