In [1]:
#6.5.3 create heatmaps for weather parameters

# Import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# store csv data into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind
0,0,Rikitea,PF,2022-10-12 20:1911,-23.1203,-134.9692,67.93,64,0,17.52
1,1,Mataura,NZ,2022-10-12 20:1912,-46.1927,168.8643,44.96,69,98,0.85
2,2,Albany,US,2022-10-12 20:1535,42.6001,-73.9662,68.88,48,100,3.00
3,3,Kyaikkami,MM,2022-10-12 20:1715,16.0800,97.5675,79.18,77,6,3.31
4,4,Punta Arenas,CL,2022-10-12 20:1703,-53.1500,-70.9167,41.02,70,40,29.93
5,5,Ushuaia,AR,2022-10-12 20:1914,-54.8000,-68.3000,37.06,87,100,27.63
6,6,Santa Maria,BR,2022-10-12 20:1823,-29.6842,-53.8069,70.90,56,1,5.73
7,7,Minusinsk,RU,2022-10-12 20:1915,53.7103,91.6875,41.99,84,100,9.98
8,8,Vostok,RU,2022-10-12 20:1916,46.4856,135.8833,31.82,78,32,4.56
9,9,Kamaishi,JP,2022-10-12 20:1916,39.2667,141.8833,58.68,73,100,5.53

In [3]:
city_data_df.dtypes

City_ID       int64
City         object
Country      object
Date         object
Lat         float64
Lng         float64
Max Temp    float64
Humidity      int64
Clouds        int64
Wind        float64
dtype: object

In [4]:
# Configure gmaps to use my Google API key
gmaps.configure(api_key = g_key)

In [5]:
# # 1. Assign the locations to an array of lat/long pairs
# locations = city_data_df[["Lat", "Lng"]]

# # 2. Assign the weights variable to some values
# max_temp = city_data_df["Max Temp"]

# # 3. Assign the figure variable to the gmaps.figure() attribute
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
# heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)

# # 5. Add the heatmap layer
# fig.add_layer(heat_layer)

# # 6. Call the figure to plot the data
# fig
# Argh - the above code ran into a negative value for the Max Temp!

min_num = city_data_df["Max Temp"].min()
min_num

-3.46

In [6]:
len(city_data_df)

534

In [7]:
# find row with negative max temp
bad_row = city_data_df.loc[city_data_df['Max Temp'] <= 0]
bad_row


# Module has another way to deal with this.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))

# Then use "temps" instead of "max_temp" in weights = max_temp line  of heat_layer variable

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind
503,503,Deputatskiy,RU,2022-10-12 20:3514,69.3,139.9,-3.46,87,3,5.06

In [8]:
# drop row with negative max temp and check length of DF
updated_df = city_data_df.drop(503)
print(len(updated_df))
# Check for new lowest Max Temp
print(updated_df["Max Temp"].min())

533
2.25

In [9]:
# Retry with new DF

# 1. Assign the locations to an array of lat/long pairs
locations = updated_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values
max_temp = updated_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)

# 5. Add the heatmap layer
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Adjust heatmap zoom, intensity, and point radius
locations = updated_df[["Lat", "Lng"]]

max_temp = updated_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.2)

heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create a percent humidity heatmap
locations = updated_df[["Lat", "Lng"]]
humidity = updated_df["Humidity"]
humid_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(humid_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create a wind speed heatmap
locations = updated_df[["Lat", "Lng"]]
wind = updated_df["Wind"]
wind_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(wind_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create a cloudiness heatmap
locations = updated_df[["Lat", "Lng"]]
clouds = updated_df["Clouds"]
cloud_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)
fig.add_layer(cloud_layer)
fig

Figure(layout=FigureLayout(height='420px'))